.cover__margin {
    margin: 92px auto 0;
}
@media screen and (max-width: 1150px) {
    .cover__margin {
    margin: 90px auto 0;
    }
  }
@media screen and (max-width: 850px) {
    .cover__margin {
    margin: 90px auto 0;
    }
  }
@media screen and (max-width: 550px) {
    .cover__margin {
    margin: 66px auto 0;
    }
  }