.places_margin {
    padding: 0;
    margin: 92px 148px 0 148px;
}
@media screen and (max-width: 1150px) {
    .places_margin {
    margin: 92px 48px 92px 48px;
    }
  }
@media screen and (max-width: 850px) {
    .places_margin {
    margin: 88px 24px 90px 24px;
    }
  }
@media screen and (max-width: 550px) {
    .places_margin {
    margin: 64px 0 66px;
    }
  }